<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

<!-- Servlet Declaration -->
<servlet>
<servlet-name>SaveServlet</servlet-name>
<servlet-class>CRUD.SaveServlet</servlet-class>
</servlet>

<servlet>
<servlet-name>ViewServlet</servlet-name>
<servlet-class>CRUD.ViewServlet</servlet-class>
</servlet>

<servlet>
<servlet-name>EditServlet</servlet-name>
<servlet-class>CRUD.EditServlet</servlet-class>
</servlet>

<servlet>
<servlet-name>EditServlet2</servlet-name>
<servlet-class>CRUD.EditServlet2</servlet-class>
</servlet>

<servlet>
<servlet-name>DeleteServlet</servlet-name>
<servlet-class>CRUD.DeleteServlet</servlet-class>
</servlet>



<!-- Servlet Mapping -->
<servlet-mapping>
<servlet-name>SaveServlet</servlet-name>
<url-pattern>/SaveServlet</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>ViewServlet</servlet-name>
<url-pattern>/ViewServlet</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>EditServlet</servlet-name>
<url-pattern>/EditServlet1</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>EditServlet2</servlet-name>
<url-pattern>/EditServlet2</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>DeleteServlet</servlet-name>
<url-pattern>/DeleteServlet</url-pattern>
</servlet-mapping>
</web-app>
